.container{
    max-width: 1185px;
    margin: 0 auto;
    padding: 0 15px;
}
#blog{
    display: flex;
    margin: 40px 0 40px 0;
    font-family: 'Roboto', sans-serif;
}
.post__wrapper{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.blog__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;   
    letter-spacing: -0.03em; 
}
.text-title-style{
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;   
    letter-spacing: -0.03em;
}
.text-style{
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;   
    letter-spacing: -0.03em;
}
.post__new-post{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap:20px;
}
.post__header{
    width: 400px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 10px;
}
.post__text{
    width: 400px;
    min-height: 200px;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 10px;
}
.post__header:focus,
.post__text:focus{
    border-color: #0094FF;
    outline: none;
}
.feed__blank-tape{
    opacity: .5;
}
.feed__post{
    display: flex;
    flex-direction: column;
    position: relative;
    gap:20px;
    width: 400px;
}
.feed__time{
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;   
    letter-spacing: -0.03em;
    color: #0094FF;
}
.feed__title,
.feed__text{
    padding: 0 0 10px 0;
}
.new-post__btn{
    display: block;
    width: 400px;
    line-height: 60px;
    border: 1px solid #0094FF;
    border-radius: 4px;
    background-color: #0094FF;
    color: white;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
}
.new-post__btn:hover{/*изменение цвета кнопки*/ 
    color: #0094FF;
    background-color: #ffffff;
}
.new-post__btn:active{
    box-shadow: 0 0 6px 6px #0095ff90;
}